spring-debug/src/main/resources/META-INF/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.lontologie.com/schema/student/spring-student"
		xmlns:tns="http://www.lontologie.com/schema/student/spring-student"
		elementFormDefault="qualified">
	<element name="student">
		<complexType>
			<attribute name ="id" type = "string"/>
			<attribute name ="name" type = "string"/>
			<attribute name ="email" type = "string"/>
		</complexType>
	</element>
</schema>